@page
@model ConfirmEmailModel


<div class="container-md mt-3">
    <div class="card">
        <div class="card-body">
            <h1>Confirmar Correo</h1>
            <partial name="_StatusMessage" model="Model.StatusMessage" />
        </div>
    </div>
</div>

