@page
@model LockoutModel

<header>
    <div class="card container mt-3">
        <div class="card-body">
            <h1 class="text-danger">Cuenta bloqueada</h1>
            <p class="text-danger">Esta cuenta ha sido bloqueada</p>
        </div>
    </div>
</header>
