@model ECommerceWeb.Models.ViewModels.ProductoVM;
<link rel="stylesheet" href="/css/productoUpsert.css" />

<div class="container-md mt-3">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center m-3">@(Model.Producto.IdProducto > 0 ? "Actualizar" : "Crear") Producto</h2>
        </div>
        <div class="card-body">
            <form class="container-lg formulario" method="post" asp-action="Upsert" enctype="multipart/form-data">

                <input hidden asp-for="Producto.IdProducto" />
                <input hidden asp-for="Producto.URLImagen" />

                <div class="row">
                    <div class="col-10">
                        <div class="row mb-3">
                            <div class="col">
                                <label asp-for="Producto.Nombre"></label>
                                <input asp-for="Producto.Nombre" class="form-control" placeholder="Nombre del producto" />
                                <span asp-validation-for="Producto.Nombre" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Producto.Marca"></label>
                                <input asp-for="Producto.Marca" class="form-control" placeholder="Marca" />
                                <span asp-validation-for="Producto.Marca" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Producto.Descripcion"></label>
                            <textarea asp-for="Producto.Descripcion" rows="5" class="form-control" placeholder="Descripcion del producto" id="trumbowyg-text"></textarea>
                            <span asp-validation-for="Producto.Descripcion" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label asp-for="Producto.Precio"></label>
                                <input asp-for="Producto.Precio" class="form-control" />
                                <span asp-validation-for="Producto.Precio" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Producto.PrecioDescuento"></label>
                                <input asp-for="Producto.PrecioDescuento" class="form-control" />
                                <span asp-validation-for="Producto.PrecioDescuento" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Producto.URLImagen"></label>
                            <input type="file" id="URLImagen" name="file" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="d-block" asp-for="Producto.IdCategoria"></label>
                            <select asp-for="Producto.IdCategoria" asp-items="@Model.Categorias" class="form-select form-control">
                                <option disabled selected>Seleccione una categoria</option>
                            </select>
                            <span asp-validation-for="Producto.IdCategoria" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            @if (Model.Producto.IdProducto > 0)
                            {
                                <button type="submit" class="btn btn-primary">Actualizar Producto</button>
                            }
                            else
                            {
                                <button type="submit" onclick="return validarImagen()" class="btn btn-primary">Crear producto</button>
                            }
                        </div>
                    </div>
                    @if (Model.Producto.IdProducto > 0)
                    {
                        <div class="col-2">
                            <img src="@Model.Producto.URLImagen" width="100%" id="productoImagen" />
                        </div>
                    }
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
    <script src="~/js/productoUpsert.js"></script>
}